/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#searchContainer, #resultContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchContainer {
    width: 300px;
    text-align: center;
    position: relative;
}

#resultContainer {
    width: 500px;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    margin: 0;
    font-size: 24px;
}

.weather-info p {
    margin: 5px 0;
    font-size: 18px;
}

#suggestions {
    position: left;
    top: 55px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 100;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #e0e0e0;
}

